[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
pyyaml = "*"
openpyxl = "~=3.1.5"
pycldf = "==1.41.0"
pyperclip = "~=1.9.0"
setuptools = "~= 79.0.1"
certifi = "~=2025.1.31"

[dev-packages]
black = "*"
flake8 = "*"
icecream = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"
isort = "*"
pre-commit = "*"
langworld-db-data = {editable = true, path = "."}

[requires]
python_version = "3.9"
