[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
pyyaml = "*"
openpyxl = "*"
pycldf = "*"
pyperclip = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
yapf = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
